apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ostad-app
  namespace: argocd
spec:
  project: default
  source:
    repoURL: 'https://github.com/thisishayat/Ostad-Docker.git'
    targetRevision: master
    path: k8s
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: my-app
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
